<MudPaper Elevation="5" Class="rounded-lg pa-4 pa-sm-8 h-100 mud-background-gray">
    <div class="w-100 d-flex justify-space-between mb-8">
        <MudText Typo="Typo.h4">@SelectedPlayer?.Name</MudText>
        <MudIconButton Icon="@Icons.Material.Filled.Close" OnClick="HandleClosePlayerCard"></MudIconButton>
    </div>
    @ChildContent
</MudPaper>